/* =====================================================
   ANIMAÇÕES
===================================================== */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(50px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes shine{

    0%{

        left:-120%;

    }

    100%{

        left:150%;

    }

}

@keyframes twinkle{

    0%{

        opacity:.2;

        transform:scale(.8);

    }

    50%{

        opacity:1;

        transform:scale(1.5);

    }

    100%{

        opacity:.2;

        transform:scale(.8);

    }

}

@keyframes floatGlow{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(40px);

    }

    100%{

        transform:translateY(0);

    }

}

@keyframes fogMove{

    from{

        transform:translate(0,0);

    }

    to{

        transform:translate(120px,60px);

    }

}

@keyframes fogMove2{

    from{

        transform:translate(0,0);

    }

    to{

        transform:translate(-90px,-70px);

    }

}

@keyframes flyPlane{

    0%{

        transform:
            translateX(0)
            translateY(0)
            rotate(8deg);

    }

    50%{

        transform:
            translateX(60vw)
            translateY(-30px)
            rotate(3deg);

    }

    100%{

        transform:
            translateX(120vw)
            translateY(-80px)
            rotate(-5deg);

    }

}